* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Header */
.first-block {
  background-image: url("img/hero.jpg");
  height: 100vh;
  width: 100%;
  background-size: cover; 

}







.header-section {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  align-items: center;
  color: white;
}
.header-section h1 {
  font-size: 48px;
}
.header-section h2 {
  font-size: 32px;
}





.wikitable {
  background-color: beige;
  color: #4a2fe4;
  margin: 100em 300;
  border: 1px solid #a2a9b1;
  border-collapse: collapse;
  height: 90%;
}
th {
  padding: 20px;
}
table, th, td {
  border: 3px solid black;
}
.footer {
  color: rgb(255, 0, 0);
  margin-top: 50px;
  margin-bottom: 50px;
  width: 100%;
  text-align: center;
} 

.footer2{
  background-image: url(img/10.jpg);
  height: 20vh;
  width: 100%;
  background-size: cover; 

}
